.background-container {
    background: linear-gradient(90deg, rgba(161, 107, 86, 0.36) -5.61%, rgba(193, 130, 36, 0) 50.8%, rgba(161, 107, 86, 0.36) 107.21%), linear-gradient(0deg, rgba(224, 163, 112, 0.31) 0%, rgba(224, 163, 112, 0.31) 100%), #fff;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

/* Latar belakang pada layar kecil */
@media (max-width: 991px) {
    .background-container {
        font-size: 40px;
    }
}

/* Kontainer teks */
.text-container {
    display: flex;
    flex-direction: column;
    font-family: "JosefinSlab";
    font-size: 55px;
    position: relative;
    overflow: hidden;
    min-height: 800px;
    align-items: center;
    justify-content: center;
}

/* Kontainer teks pada layar kecil */
@media (max-width: 991px) {
    .text-container {
        max-width: 100%;
        font-size: 40px;
        padding: 40px 20px;
    }
}

/* Teks dalam kontainer teks */
.text-container p {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 8px;
}

/* Gambar latar belakang */
.cover-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}