.nonkopi-section {
    background-color: #a27b5c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 80px;
    padding-bottom: 0;
  }
  @media (max-width: 991px) {
    .nonkopi-section {
      padding: 0 20px;
    }
  }
  .title-nonkopi {
    align-self: center;
    font-family: "JosefinSlab";
    font-size: 80px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-right: 115px;
    color: #fafaf7;
  }
  @media (max-width: 991px) {
    .title-nonkopi {
      font-size: 40px;
    }
  }
  .description-nonkopi {
    font-family: "JosefinSlab";
    font-size: 30px;
    color: #fafaf7;
    padding-top: 35px;
    padding-left: 100px;
    padding-right: 50px;
  }
  @media (max-width: 991px) {
    .description-nonkopi {
      max-width: 100%;
      margin-top: 40px;
    }
  }